<% layout('layout') %>

<div id="loginbox" style="margin-top:50px;" class="row mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info" >
        <div class="panel-heading">
            <div class="panel-title">Add New Category</div>
        </div>
        <div style="padding-top:30px" class="panel-body" >
            <% if(message.length > 0) {%>
            <div id="login-alert" class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p><span><%= message %></span></p>

            </div>
            <% } %>
            <form id="loginform" class="form-horizontal" method="post">
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicons-show-thumbnails"></i></span>
                    <input id="login-username" required type="text" class="form-control" name="name" placeholder="Category Name">
                </div>

                <div style="margin-top:10px" class="form-group">
                    <!-- Button -->
                    <div class="col-sm-12 controls">
                        <button id="btn-login" type="submit" class="btn btn-primary"><i class="icon-hand-right"></i> &nbsp Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>