<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"><img height="300px" class="img-responsiv" src="../../images/logo.png" alt=""></div>
      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">OTHER PROJECTS</h6>
        <ul class="footer-ul">
          <li><a target="_blank" href="http://ahmedsalah.byethost14.com/"> AhmedSalah-Blog</a></li>
          <li><a target="_blank" href="http://expert-chat.herokuapp.com/"> Expert-Chat App</a></li>
          <li><a target="_blank" href="https://lit-escarpment-21150.herokuapp.com/"> Egy-Housing</a></li>
          <li><a target="_blank" href="https://ahmedsalahbasha.github.io"> Recipe-Book</a></li>
          <li><a target="_blank" href="https://ahmedsalahbasha.github.io/colors-game/"> Colors-Game</a></li>
          <li><a target="_blank" href="https://ahmedsalahbasha.github.io/ajax-livesearch/"> Ajax-LiveSearch</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">CONTACT ME</h6>
        <div class="post">
          <p><i class="fa fa-map-pin"></i> 254, 2nd District, 6October City, Giza - , EGYPT</p>
          <p><i class="fa fa-phone fa-lg"></i> <a href="tel:+201007033839" class="Blondie">Call Me NOW</a> </p>
          <p><i class="fa fa-envelope fa-lg"></i><a href="mailto:a.salah.b@gmail.com">Send Me Email</a></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:10px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote>
              <a target="_blank" href="https://github.com/AhmedSalahBasha" class="btn btn-social-icon btn-github">
                <span class="fa fa-github"></span>
              </a>
            </blockquote>
            <blockquote>
              <a target="_blank" href="https://eg.linkedin.com/in/asalahb" class="btn btn-social-icon btn-linkedin">
                <span class="fa fa-linkedin"></span>
              </a>
            </blockquote>
            <blockquote>
              <a target="_blank" href="https://plus.google.com/u/0/+AhmedSalah93" class="btn btn-social-icon btn-google">
                <span class="fa fa-google"></span>
              </a>
            </blockquote>
            <blockquote>
              <a target="_blank" href="https://www.facebook.com/AbuSalah93" class="btn btn-social-icon btn-facebook">
                <span class="fa fa-facebook"></span>
              </a>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2016 - All Rights to Ahmed Salah, Dev</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="/">Home</a> | </li>
        <% if (!user) { %>
        <li><a href="/login"> Login</a> | </li>
        <% } else { %>
        <li><a href="/profile"> Profile</a> | </li>
        <li><a href="/logout"> Logout</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</div>